@charset "UTF-8";

@import "~materialize-css/sass/components/prefixer";
//@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/normalize";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";

$primary-color: #03a9f4;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$roboto-font-path: "../node_modules/materialize-css/font/roboto/";
$icons-font-path: "../node_modules/materialize-css/font/material-design-icons/";

// components
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/icons-material-design";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/roboto";
@import "~materialize-css/sass/components/typography";
//@import "~materialize-css/sass/components/cards";
//@import "~materialize-css/sass/components/toast";
//@import "~materialize-css/sass/components/tabs";
//@import "~materialize-css/sass/components/tooltip";
//@import "~materialize-css/sass/components/buttons";
//@import "~materialize-css/sass/components/dropdown";
//@import "~materialize-css/sass/components/waves";
//@import "~materialize-css/sass/components/modal";
//@import "~materialize-css/sass/components/collapsible";
//@import "~materialize-css/sass/components/chips";
//@import "~materialize-css/sass/components/materialbox";
@import "~materialize-css/sass/components/form";
//@import "~materialize-css/sass/components/table_of_contents";
//@import "~materialize-css/sass/components/sideNav";
//@import "~materialize-css/sass/components/slider";
//@import "~materialize-css/sass/components/carousel";

// our components
@import "components/app";
@import "components/preloader";

@import "components/main/luckynumber";
@import "components/main/view";
@import "components/main/nextclass";
@import "components/main/newsfeed";
@import "components/main/quote";

@import "components/timetable/view";

@import "components/settings/view";
